<header class="container d-flex justify-content-center justify-content-md-between align-items-center">
    <a href="/"><img src="https://dvh1deh6tagwk.cloudfront.net/finder-us/wp-uploads/sites/100/2017/09/currencybird-FMT-featured-image.png" alt="logo" style="margin:-6% 0"></a>
    <a href="/management"><button type="button" class="btn btn-sm btn-info">Vista de Gestión</button></a>
</header>